<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include("partials/head")%>

</head>
<body>

    <%- include('partials/navigation')%>
    <h1><%= title%></h1>
 
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque totam repudiandae aliquam in. Architecto cum beatae facere doloribus quia quam ex fugit? Cumque perferendis nostrum mollitia repudiandae ex recusandae voluptatibus eaque. Iure id omnis ab odio illo consequuntur. Debitis, sint nobis ex aspernatur maxime iusto repellendus dolor, vel magnam beatae, quo quos temporibus illum eaque obcaecati eius officia similique facilis repellat officiis distinctio neque necessitatibus. Praesentium accusamus nisi eaque sint, esse molestias accusantium pariatur. Mollitia sint possimus beatae exercitationem vel eius iure dicta, consectetur fugit provident odit animi voluptatem deserunt, id unde consequuntur saepe quis ipsam! Dolorem ipsum nihil quae eaque iure ea cum, consequuntur molestias ipsam sapiente dolor incidunt dicta deserunt? Quis dolores nulla quasi odio quod sit impedit debitis officia, eaque aliquid quia obcaecati harum! Quas voluptatibus fugiat mollitia quae corporis impedit eligendi temporibus nulla unde maxime! Possimus assumenda impedit accusamus odit dolorum? Officiis non molestias optio eos sed neque asperiores dicta animi at cupiditate aliquam labore delectus dolorem blanditiis tempora corporis, a autem facilis cum, corrupti ipsam! Repellat veniam cumque aliquid quis doloremque commodi facilis sed reprehenderit libero adipisci harum similique aspernatur asperiores cum beatae iure, sapiente, animi esse repudiandae unde ad consequuntur? Totam recusandae repellendus ab.</p>
        </section>


    </main>

    <%- include("partials/footer")%>
    
</body>
</html>